* {
  box-sizing: border-box;
  margin: 0
}

body {
  font-family: 'Ubuntu', sans-serif;
}

article {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 0
}

.top__header nav {
  max-width: 22.063rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top__header a {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  line-height: 1.125rem;
}

.starter {
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.063rem;
}

.starter h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.625rem;
  margin-top: 12.5%;
}

.starter button {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 100px;
  padding: 1.34% 2.3%;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 5rem 0 ;
  line-height: 1.438rem;
  font-family: 'Ubuntu', sans-serif;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.01em;
  /*height: 544px;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

.card-large {
  max-width: 41rem;
}
.card-small {
  max-width: 19.438rem
}

.card h4 {
  font-size: 1.5625rem;
  line-height: 100.5%;
  margin: 1rem 0
}

.card p {
  font-size: 0.875rem;
  line-height: 160%;
  padding-bottom: 20%
}

article:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.25% 0 
}
.circle {
  width: 8.75rem;
  height: 8.75rem;
  background-color: #C4C4C4;
  border-radius: 50%;
}

blockquote {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2.313rem;
  margin: 2rem;
}

.quote p {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.438rem;
  font-style: italic;
}

footer {
  background-color: #4F4F4F;
  color: #FFFFFF;
}

footer article {
  display: flex;
  justify-content: space-between;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-top: 4.438rem;
  margin-bottom: 15%;
  width: 100%;
  min-height: 13.625rem;
}


footer .nav {
  max-width: 14.063rem;
  justify-content: space-between;
}

footer .nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.149rem;
}

footer .about {
  max-width: 19.5rem
}

footer h3 {
  line-height: 100.5%;
  font-size: 1.625rem;
  letter-spacing: 0.01em;
  font-weight: 700;
}

footer p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 160%;
}

footer .social {
  max-width: 24.938rem;
  padding-left: 5.25rem;
}

.social div {
  margin-top: 1.125rem;
  max-width: 11.375rem;
  display: flex;
  justify-content: space-between;
}

footer i {
  font-size: 2.3rem
}